:root{
    --case-color: #2C2C2B;
    --light-grey: #D7D7D6;
    --dark-grey: #A8A8A7;
    --power-on: #ffffff;
    --power-off: #ce2029; /* #c23b22 */
     
  }


.container {
    width: 300px;
    height: 280px;
    position: absolute;
    top: calc(50% - 140px);
    left: calc(50% - 150px);
}
.coffee-grinder__top {
    width: 121px;
    height: 8px;
    position: absolute;
    top: -63px;
    left: 35px;
    background-color: #2C2C2B;
    border-radius: 15px 15px 0 0;
}
.coffee-grinder__medium {
    width: 0; 
    height: 0; 
    border-left: 60px solid transparent;
    border-right: 61px solid transparent;
  
    border-top: 150px solid var(--light-grey);
    margin-top: -55px;
    margin-left: 35px;
}
.coffee-grinder__bottom {
    width: 82px;
    height: 10px;
    position: absolute;
    top: -7px;
    left: 54px;
    background-color: #2C2C2B;
    border-radius: 0 0 15px 15px;
}
.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2C2C2B;
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: var(--light-grey);
  border: 2px solid var(--dark-grey);
  border-radius: 50%;
}
.coffee-header__button-one {
  left: 30px;
}
.coffee-header__button-two {
  left: 75px;
}
.coffee-header__button-three {
  right: 30px;
}
.coffee-header__button-four {
  right: 75px;
}
.coffee__cup__icon {
    width: 9px;
    height: 6px;
    bottom: 16px;
    position: absolute;
    background-color: #ffffff;
    border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.icon__one {
    right: 85px;
}
.icon__two {
    right: 48px;
}
.icon__three {
    right: 34px;
}
.icon__one::after, .icon__two::after, .icon__three::after{
    content: "";
    width: 2px;
    height: 2px;
    position: absolute;
    top: 0px;
    right: -2px;
    border: 1px solid #FFF;
    border-radius: 50%;
}
.coffee-header__display {
  width: 56px;
  height: 56px;
  position: absolute;
  top: calc(50% - 28px);
  left: calc(50% - 28px);
  border-radius: 50%;
  background-color: var(--light-grey);
  border: 3px solid var(--dark-grey);
  box-sizing: border-box;
}
.coffee-header__display__power_circle {
    width: 32px;
    height: 15px;
    position: absolute;
    top: calc(50% + 2px);
    left: calc(50% - 16px); /* width divided by 2 */
    
    background-color: var(--light-grey);
    
    border-bottom-left-radius: 20px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 20px; /* 100px of height + 10px of border */
    border: 4px solid; /*same as rectangle width*/
    border-color:  var(--power-off);
    border-top: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.coffee-header__display__power_rectangle {
    width: 4px; /*same as circle border radius*/
    height: 20px;
    position: absolute;
    top: calc(50% - 15px);
    left: calc(50% - 2px); /* width divided by 2 */
    
    background-color: var(--power-off)
}
.coffee-header__details__one {
  width: 5px;
  height: 44px;
  position: absolute;
  top: 10px;
  right: -3px;
  background-color: #2C2C2B;
  border-radius: 0 15px 15px 0;
}
.coffee-header__details__two {
  width: 7px;
  height: 35px;
  position: absolute;
  top: 15px;
  right: -10px;
  background-color: var(--dark-grey);
  border-radius: 0 3px 3px 0;
}
.coffee-header__details__three {
  width: 7px;
  height: 10px;
  position: absolute;
  top: 30px;
  right: 300px;
  background-color: var(--dark-grey);
  border-radius: 5px 0 0 5px;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #515150;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 160px;
  background-color: var(--light-grey);

  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffee-medium__tamper {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 160px;
  background-color: #231f20;
}
.coffee-medium__tamper__one {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 0px;
  right: 240px;
  background-color: #000000;
}
.coffee-medium__tamper__two, .coffee-medium__tamper__three, .coffee-medium__tamper__four, .coffee-medium__tamper__five {
    width: 10px;
    height: 30px;
    position: absolute;
    top: 7px;
    right: 255px;
    background-color: #000000;
    transform:rotate(40deg);
    border-radius: 15px 15px;
}
.coffee-medium__tamper__three {
    right: 235px;
    transform:rotate(140deg);
}
.coffee-medium__tamper__four {
    top: 14px;
    right: 245px;
    transform:rotate(90deg);
}
.coffee-medium__tamper__five {
    width: 40px;
    height: 5px;
    top: 30px;
    right: 229px;
    transform:rotate(0deg);
    background-color: var(--light-grey);
    border: 1px solid #000;
    border-radius: 0 0 10px 10px;
}
.coffee-medium__ground__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 160px;
  background-color: #231f20;
}
.coffee-medium__ground__exit__extension__one {
  width: 50.2px;
  height: 36.5px;
  position: absolute;
  top: 20px;
  right: 164.5px;
  background-color: #231f20;
}
.coffee-medium__ground__exit__extension__two, .coffee-medium__ground__exit__extension__three {
    width: 10px;
    height: 30px;
    position: absolute;
    top: 28px;
    right: 206px;
    background-color: #231f20;
    transform:rotate(30deg);
    border-radius: 15px 15px;
}
.coffee-medium__ground__exit__extension__three {
    right: 163.5px;
    transform:rotate(150deg);
}

.coffee-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(70% - 30px);
  background-color: #231f20;
}
.coffee-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: var(--dark-grey);
}
.coffee-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: -30px;
  background-color: #231f20;
}
.coffee-medium__arm::before {
  content: "";
  width: 17px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -17px;
  background-color: var(--dark-grey);
}
.milk-frother {
  position: absolute;
  top: 10px;
  right: 5px;
  transform: rotate(-15deg);
}
.coffee-medium__milk__frother__arm__one {
  width: 10px;
  height: 40px;
  position: absolute;
  top: -11.5px;
  right: 2px;
  background-color: var(--dark-grey);
  transform: rotate(15deg);
  border-radius: 0 0 0 15px;
}
.coffee-medium__milk__frother__arm__two {
  width: 40px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: -25px;
  background-color: rgba(255, 255, 255, 0);
  border-color: var(--dark-grey);
  border-bottom-left-radius: 20px;
  border-right: 20px solid transparent;

  box-sizing: border-box;
  border-width: 0px 10px 10px;
  border-style: solid solid solid;
  border-image: initial;
  border-top: 0px;
}
.coffee-medium__milk__frother__arm__three {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 35px;
  right: -30px;
  background-color: rgba(255, 0, 179, 0);
  border-bottom-left-radius: 20px;

  box-sizing: border-box;
  border-width: 0px 0px 14px 14px;
  border-style: solid solid solid;
  transform: rotate(190deg);
}
.coffee-medium__milk__frother__arm__four {
  height: 50px;
  width: 8px;
  position: absolute;
  background-color: var(--dark-grey);
  right: -20px;
  top: 65.5px;
  border-radius: 0 0 15px 15px;
  transform: rotate(10deg);
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(70% - 40px);
  background-color: #FFF;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #FFF;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;  
    opacity: 1;
  }
  5% {
    height: 0px;  
    opacity: 1;
  }
  20% {
    height: 63px;  
    opacity: 1;
  }
  95% {
    height: 63px;
    opacity: 1;
  }
  100% {
    height: 63px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(70% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 80%;  
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 74%;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  left: 65%;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-four {
  opacity: 0;
  bottom: 50px;
  left: 58%;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 40px;
  position: absolute;
  bottom: 0px;
  left: -8px;
  background-color: #2C2C2B;
  border-radius: 0.8rem;
}